<!DOCTYPE html>
<!--
    AngularJS front-end webapp for MD-frontend project.
    Author: Daniele Gazzelloni <daniele@danielegazzelloni.com>
-->
<html lang="en-us" ng-app="MDapp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Daniele Gazzelloni / daniele@danielegazzelloni.com">

        <meta name="description" content="Email and SMS marketing at your fingertips. Save time, lower costs and increase the sales of your business by using myMailMarket. Great features such as SMS, email previews and ecommerce modules are provided at affordable rates.">
        <meta name="msvalidate.01" content="13D19619962AD44A2305308EED3F2732" />
        <title>Email and SMS marketing made simple. Boost your online presence with easy email marketing SMS - myMailMarket</title>

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/prettify.css" type="text/css" rel="stylesheet" />
        <link href="css/global.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700' rel='stylesheet' type='text/css'>

        <link href='css/custom_styles.css' rel='stylesheet'/>
        <link href='css/progressbutton.css' rel='stylesheet'/>
        <link href='css/fonts.css' rel='stylesheet'/>
        <link href="css/application.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <style type="text/css">
            #whym a { text-decoration:none; }
            #whym a:hover { text-decoration:underline; }
        </style>


        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="js/angular.min.js"></script>
        <script src="js/config.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>

        <script src="js/jquery.min.js"></script>
        <script src="js/modernizr.min.js"></script>
        <script src="js/jquery.glide.min.js"></script>
        <script src="js/jquery.placeholder.min.js"></script>
        <script src="js/progressbtn-script.js"></script>
        <script src="js/m3custom.js"></script>
        
        <!--<script src="js/marked.js"></script>
        <script src="js/angular-marked.min.js"></script>-->
        
        <script src="js/showdown.js"></script>
        <script src="js/ng-showdown.js"></script>
        <script src="js/extensions/showdown-prettify.js"></script>
        <script src="js/prettify.js" type="text/javascript"></script>
        
        
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/markdown.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery.cookie.js" type="text/javascript"></script>
        <script src="js/notify.min.js" type="text/javascript"></script>
        <script src="js/HRB.jquery.djshook.js" type="text/javascript"></script>
        <script src="js/heroku_rails_base.js" type="text/javascript"></script>
        <script src="js/custom.js" type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                var slideNumber = 1;

                $('.quotes-slider .slider').glide({
                    arrowRightText: "",
                    arrowLeftText: "",
                    navigation: true,
                    arrows: ".arrows"
                });
                $('.quotes-slider').hover(function () {
                    $(this).css('cursor', 'pointer');
                });
                /*
                 $(".quotes-slider .slider img.profile-picture").load(function(){
                 var containerHeight = $('.quotes-slider .slider .slider__wrapper .slider__item').outerHeight();
                 var slideHeight = $('.quotes-slider .slider .slider__wrapper .slider__item .info').outerHeight();
                 var marginTopBottom = (containerHeight - slideHeight) / 2;
                 console.log(containerHeight, slideHeight, marginTopBottom);
                 $('.quotes-slider .slider .slider__wrapper .slider__item .info').css('margin-top', marginTopBottom);
                 });
                 */

                $(window).resize(function () {
                    $(".quotes-slider .slider img.profile-picture").load(function () {
                        var containerHeight = $('.quotes-slider .slider .slider__wrapper .slider__item').outerHeight();
                        var slideHeight = $('.quotes-slider .slider .slider__wrapper .slider__item .info').outerHeight();
                        var marginTopBottom = (containerHeight - slideHeight) / 2;
                        console.log(containerHeight, slideHeight, marginTopBottom);
                        $('.quotes-slider .slider .slider__wrapper .slider__item .info').css('margin-top', marginTopBottom);
                    });
                });
            });
        </script>
        
    </head>
    <body id="homepage">
        <div id="wrapper">

            <!-- mymailmarket.com header-->
            <div id="navbar" class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="index.html"><img src="img/logo.svg" width="205" height="39" onerror="this.src=img/logo.png" class="logo" title="MyMailMarket email SMS marketing" alt="MyMailMarket email SMS marketing" /></a>
                            <div class="menu-trigger visible-xs"><img src="img/icon-menu.svg" height="25" width="24" /></div>
                        </div>
                        <div class="col-sm-9">
                            <ul class="menu-mobile">
                                <li><a href="index.html" title="Homepage mymailmarket">Home</a></li>
                                <li><a href="features.html" title="Features myMailMarket">Features</a></li>
                                <li><a href="pricing.html" title="cost of using mymailmarket">Pricing</a></li>
                                <li><a href="agencies.html" title="Companies we partner with">For Agencies</a></li>
                                <li><a href="faq.html" title="Frequently Asked Questions">FAQ</a></li>
                                <li><a href="contact.php" title="how to contact us">Contact</a></li>
                                <li class="login"><a href="http://secure.mymailmarket.be/?l=e" target="_blank">Login</a></li>
                                <li><a href="/nl" style="font-weight:100">NL</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- md-container START -->
            <div class="md-container" ng-controller="mdPageController">
                <div class="layout-content">

                    <!-- left menu + container  -->
                    <div class="container">
                        <div class="row">
                            <div class="span2 sidenav">
                                <div class="leftMenuEntry" ng-repeat="pageHeading in MDPages">
                                    <h6><a href="#" ng-click="setCurrentMDPage( (pageHeading.pages ? pageHeading.pages : pageHeading.subheadings[0].pages))">{{pageHeading.name}}</a></h6>
                                    <div ng-repeat="subHeadingEntry in pageHeading.subheadings">
                                        <ul>
                                            <li><a href="#" ng-click="setCurrentMDPage(subHeadingEntry.pages)">{{subHeadingEntry.name}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- md page container  -->  
                            <div class="span10 content-area">
                                <!--<div ng-repeat="mdPageEntry in currentMDPages">-->
                                    
                                <div class="mdPageEntry" btf-markdown="markdown"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- md-container END -->
            </div>

            <!-- mymailmarket.com footer -->
            <div id="footer" class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            Send email and SMS the easy &amp; powerful way
                            <span>Copyright 2015 © ITrades Services Inc. All rights reserved</span>
                            <br>
                            <span><a href="antispam.html" style="font-size:9px;color:#909090">Anti-spam policy</a> | <a href="termsofuse.html" style="font-size:9px;color:#909090">Terms of Use</a> | <a href="privacypolicy.html" style="font-size:9px;color:#909090">Privacy Policy</a></span>
                        </div>
                        <div class="social col-sm-4">
                            <a href="https://twitter.com/mymailmarket" target="_blank"><img src="img/twitter.png" width="38" height="38" alt="Twitter" title="Twitter myMailMarket" /></a>
                            <a href="https://plus.google.com/u/0/105421527998846045249/posts" target="_blank"><img src="img/google.png" width="38" height="38" width="38" height="38"alt="Google+" title="Google+ myMailMarket"  /></a>
                            <a href="https://www.linkedin.com/company/mymailmarket" target="_blank"><img src="img/linkedin.png" width="38" height="38" alt="LinkedIn" title="LinkedIn myMailMarket" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="signup-modal">
                <div class="overlay"></div>

                <div class="modal-container">
                    <h3 id="registertitle">Alright! Let's create your account</h3>
                    <p id="signedup1" style="text-align:center;display:none">Check your email inbox and validate your address by clicking on the link.</p>
                    <p id="signedup2" style="text-align:center;display:none">Have a promo code? Let us know via yo@mymailmarket.com and get a discount!</p>
                    <form id="frmRegistration">
                        <input type="text" placeholder="E-mail address*" id="emailaddress" />					
                        <input type="text" placeholder="Website address*" id="websiteaddress" />
                        <input type="text" placeholder="Company name*" id="companyname" class="password" /><input type="password" class="password-second" placeholder="Password*" id="pw" />				
                        <button class="btn progress-button" data-loading="Processing.." data-finished="Saved!" data-type="background-bar" id="btnSend" style="width:100%">Register account</button>
                    </form>

                    <span><a href="antispam.html" style="font-size:9px;color:#909090">Anti-spam policy</a> | <a href="termsofuse.html" style="font-size:9px;color:#909090">Terms of Use</a> | <a href="privacypolicy.html" style="font-size:9px;color:#909090">Privacy Policy</a></span>

                    <div class="modal-close"></div>
                </div>
            </div>
        </div>
        
    </body>
</html>
