@import url('https://fonts.googleapis.com/css?family=Raleway:600,800&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  body {
    color: $light;

    h1, h2, h3, h4, h5 {
      font-family: 'Raleway', sans-serif;
      letter-spacing: -1px;
      font-weight: 600;
    }

    h1 {
      color: $primary;
      font-size: 3.5rem;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2.5rem;
    }

    h4 {
      font-size: 2rem;
    }

    h5 {
      font-size: 1.5rem;
    }

    a {
      -webkit-transition: border 400ms ease-out;
      -moz-transition: border 400ms ease-out;
      -o-transition: border 400ms ease-out;
      transition: border 400ms ease-out;

      border-bottom: solid 1px transparent;

      &.has-text-accent {
        color: $accent;

        &:hover {
          color: $accent;
          border-bottom: 1px solid $accent;
        }
      }

      &:hover {
        color: $primary;
        text-decoration: none;
        border-bottom: 1px solid $primary;
      }
    }

    .hero-body {
      padding-left: 2rem;

      .button {
        background-color: transparent;
        border-radius: 4px;
        padding: 18px 30px;

        -webkit-transition: background-color 400ms ease-out;
        -moz-transition: background-color 400ms ease-out;
        -o-transition: background-color 400ms ease-out;
        transition: background-color 400ms ease-out;

        text-transform: uppercase;
        font-size: 0.9rem;

        &.is-primary {
          border-color: $primary;
          color: $primary;
        }

        &.is-link {
          border-color: $link;
          color: $link;
        }

        &.is-accent {
          border-color: $accent;
          color: $accent;

          &:hover {
            background-color: $accent;
          }
        }

        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }

    .has-text-accent {
      color: $accent;
    }

    .has-background-accent {
      background-color: $accent;
      color: #000;
    }
  }
}

