@import "~bulma/sass/utilities/_all";

/* Colors settings overwrite */
$primary: #08fdd8;
$dark: $dark;
$dark: darken($dark, 5%);
$link: $primary;
$accent: adjust-hue($danger, -5%);
$deep-dark: darken($dark, 10%);

/* Forms */
$input-background-color: $grey-darker;
$input-border-color: $grey-darker;
$input-color: $light;
$input-hover-border-color: $grey;
$input-radius: 2px;
$input-shadow: none;
$input-focus-box-shadow-size: 0;

/* Progress bar */
$progress-bar-background-color: lighten($dark, 5%);

/* Global settings overwrite */
$body-background-color: $dark;
$subtitle-color: $grey;
